<mat-drawer-container class="example-container fixed-top" autosize *ngIf="loggedIn">
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <div class="row" style="padding: 20px;">
      <span class="fs-1 text-center headerTitle">AXIOM</span>
    </div>

    <mat-list role="list">
      <mat-list-item role="listitem" class="listitem" routerLinkActive="activeMenu" *ngFor="let item of menus"
        [routerLink]="item.pagePath">{{item.displayName}}</mat-list-item>
    </mat-list>

  </mat-drawer>

  <div class="container-fluid">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom ">
      <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <button mat-icon-button (click)="drawer.toggle()"> <mat-icon>menu</mat-icon></button>
        <svg class="bi me-2" width="40" height="32">
          <use xlink:href="#bootstrap" />
        </svg>
        <span class="fs-4">AXIOM</span>
      </a>

    </header>
    <div class="wh100">
      <router-outlet></router-outlet>
    </div>

    <app-footer></app-footer>
  </div>

</mat-drawer-container>

<div class="container-fluid  wh100" *ngIf="!loggedIn">
  <router-outlet></router-outlet>
</div>