.example-container {
    width: 100%;
    height: 100%;
    // border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: start;
    justify-content: start;
}

.example-sidenav {
    padding: 20px 0px;
}

.listitem {
    cursor: pointer !important;
    padding: 0 31px;

    .mdc-list-item__primary-text {
        color: black;
    }

    &.activeMenu {
        background: #dec269;

        .mdc-list-item__primary-text {
            color: white !important;
            font-weight: bold;
        }

    }


}

.innerContainer {

    height: calc(100% - 95px);
    padding: 10px 20px;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 6px;
}

.sideDrawer {
    width: 200px;
   padding: 0;
}