.loginCard {
    width: 25%;
    height: auto;
    left: 40%;
    position: absolute;
    top: 30%;
    background: whitesmoke;
    color: white;
    border-radius: 20px;
    border: 1px solid rgb(4 91 193);
}

.social-icon {
    width: 20%;
    max-width: 70px;
}

.loginBtn {
    width: 35%;
}

.loginheader {
    font-size: 5ex;
    color: black;
    font-weight: bold;
    padding: 48px;
}

.loginControl {
    // width: 60%;
}